/* You can add global styles to this file, and also import other style files */
/* Center the dialog absolutely in the middle of the screen */
.custom-dialog-container .mat-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  border-radius: 12px;
}

.cdk-overlay-pane {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdk-overlay-pane {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.custom-dialog-container .mat-dialog-container {
  border-radius: 12px;
  padding: 20px;
  max-height: 90vh;
}

body, html {
  height: 90%;
  margin: 0;
}

